In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('Absenteeism_data.csv')

In [82]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [83]:
df_no_age = df.drop(['Age', 'ID'], axis =1)

In [84]:
df_no_age.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,2

In [85]:
df["Reason for Absence"].min()

0

In [86]:
df["Reason for Absence"].max()

28

In [87]:
pd.unique(df["Reason for Absence"])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [88]:
df["Reason for Absence"].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [89]:
len(df["Reason for Absence"].unique())

28

In [90]:
sorted(df["Reason for Absence"].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [91]:
reasons_col = pd.get_dummies(df["Reason for Absence"].unique())

In [92]:
reasons_col

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
reasons_col['check'] = reasons_col.sum(axis=1)

In [94]:
reasons_col

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
16,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [95]:
reasons_col['check'] = reasons_col.sum(axis=0)

In [96]:
reasons_col['check'].unique()

array([ 1., nan])

In [97]:
reasons_col = reasons_col.drop(['check'], axis=1)

In [98]:
reasons_col

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## .get_dummies()

In [99]:
age_dummies = pd.get_dummies(df['Age'].unique())
age_dummies

,27,28,29,30,31,32,33,34,36,37,...,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [100]:
age_dummies['check'] = age_dummies.sum(axis=1)

In [101]:
age_dummies

,27,28,29,30,31,32,33,34,36,37,...,40,41,43,46,47,48,49,50,58,check
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
16,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [102]:
age_dummies=age_dummies.drop(['check'], axis=1)
age_dummies.head()

,27,28,29,30,31,32,33,34,36,37,...,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
reasons_columns = pd.get_dummies(df["Reason for Absence"], drop_first = True)

In [104]:
reasons_col

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Group the reason for Absence

In [105]:
df.columns.values

array(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [106]:
reasons_col.columns.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=object)

In [107]:
df = df.drop(['ID','Reason for Absence'],axis = 1)

In [108]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...
670,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [109]:
reasons_col.loc[:, [1,2,3,4,5,6,7,8,9,10,11,12,13,14]].max(axis=1)

0     0
1     0
2     0
3     1
4     0
5     0
6     1
7     1
8     1
9     0
10    1
11    1
12    0
13    0
14    0
15    0
16    1
17    0
18    0
19    1
20    1
21    1
22    1
23    0
24    1
25    1
26    1
27    0
dtype: uint8

In [110]:
reason_type1 = reasons_col.loc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14]].max(axis=1)
reason_type2 = reasons_col.loc[:,[15,16,17]].max(axis=1)
reason_type3 = reasons_col.loc[:,[18,19,20,21]].max(axis=1)
reason_type4 = reasons_col.loc[:, [22]].max(axis=1)

In [111]:
reason_type2

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
20    0
21    0
22    0
23    1
24    0
25    0
26    0
27    1
dtype: uint8

## Concatenate Column Values

In [112]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [113]:
df = pd.concat([df,reason_type1, reason_type2, reason_type3, reason_type4 ], axis=1)
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0.0,0.0,0.0,0.0
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0.0,0.0,0.0,0.0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0.0,0.0,0.0,0.0
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1.0,0.0,0.0,0.0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0.0,0.0,0.0,1.0

In [114]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [115]:
col_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [116]:
df.columns =  col_names
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0.0,0.0,0.0,0.0
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0.0,0.0,0.0,0.0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0.0,0.0,0.0,0.0
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1.0,0.0,0.0,0.0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0.0,0.0,0.0,1.0

## Reorder Columns

In [117]:
column_names_reoder = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [118]:
df = df [column_names_reoder]

In [119]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0.0,0.0,0.0,0.0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0.0,0.0,0.0,0.0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0.0,0.0,0.0,0.0,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1.0,0.0,0.0,0.0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0.0,0.0,0.0,1.0,23/07/2015,289,36,33,239.554,30,1,2,1,2

## Create a checkpoint

In [126]:
df_reason_mod = df.copy()

In [127]:
df_reason_mod.head(7)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0.0,0.0,0.0,0.0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0.0,0.0,0.0,0.0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0.0,0.0,0.0,0.0,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1.0,0.0,0.0,0.0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0.0,0.0,0.0,1.0,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,0.0,0.0,1.0,0.0,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,1.0,0.0,0.0,0.0,17/07/2015,361,52,28,239.554,27,1,1,4,8

## Date

In [128]:
type(df_reason_mod['Date'][0])

str

In [129]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])

In [130]:
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-10-07
6     2015-07-17
7     2015-07-24
8     2015-06-07
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-05-08
20    2015-12-08
21    2015-03-08
22    2015-10-08
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-04-08
27    2015-12-08
28    2015-08-19
29    2015-08-28
         ...
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-07-05
675   2018-09-05
676   2018-09-05
677   2018-09-05
678   2018-09-05
679   2018-10-05
680   2018-10-05
681   2018-10-05
682   2018-11-05
683   2018-11-05
684   2018-11-05
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [134]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d %m %Y')

In [132]:
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-10-07
6     2015-07-17
7     2015-07-24
8     2015-06-07
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-05-08
20    2015-12-08
21    2015-03-08
22    2015-10-08
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-04-08
27    2015-12-08
28    2015-08-19
29    2015-08-28
         ...
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-07-05
675   2018-09-05
676   2018-09-05
677   2018-09-05
678   2018-09-05
679   2018-10-05
680   2018-10-05
681   2018-10-05
682   2018-11-05
683   2018-11-05
684   2018-11-05
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [133]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [177]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
Reason_1                     28 non-null float64
Reason_2                     28 non-null float64
Reason_3                     28 non-null float64
Reason_4                     28 non-null float64
Date                         700 non-null datetime64[ns]
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
Month Value                  700 non-null int64
Date of the Week             700 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(10)
memory usage: 87.6 KB

In [178]:
df_reason_mod
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the Week
0,0.0,0.0,0.0,0.0,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0.0,0.0,0.0,0.0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0.0,0.0,0.0,0.0,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1.0,0.0,0.0,0.0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0.0,0.0,0.0,1.0,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

## Extract the Month Value:

In [179]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [180]:
df_reason_mod['Date'][0].month

7

In [181]:
list_months = []
list_months

[]

In [182]:
for i in range (700):
    list_months.append(df_reason_mod['Date'][i].month)

In [183]:
list_months

[7,
 7,
 7,
 7,
 7,
 10,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 12,
 3,
 10,
 8,
 8,
 8,
 4,
 12,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 4,
 8,
 8,
 8,
 1,
 7,
 1,
 8,
 9,
 9,
 9,
 9,
 4,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 6,
 10,
 10,
 10,
 10,
 10,
 6,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 5,
 4,
 5,
 12,
 11,
 2,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 2,
 10,
 11,
 11,
 1,
 1,
 2,
 2,
 3,
 4,
 8,
 9,
 10,
 11,
 12,
 12,
 11,
 12,
 12,
 6,
 4,
 5,
 5,
 6,
 7,
 7,
 8,
 11,
 12,
 12,
 1,
 1,
 1,
 11,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 3,
 10,
 11,
 11,
 12,
 12,
 8,
 9,
 2,
 9,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 8,
 3,
 3,
 2,
 3,
 4,
 4,
 7,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 6,
 4,
 12,
 4,
 4,
 4,
 4,
 6,
 7,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 8,
 4,
 4,
 5,
 2,
 3,
 3,
 11,
 9,
 10,
 4,
 11,
 5,
 5,
 5,
 5,
 11,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 3,
 7,
 8,
 9,
 10,
 6,
 6,
 5,
 6,
 8,
 8,
 12,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 11,
 7,
 7,
 4,
 11,
 7,
 8,
 10,
 10,
 11,
 8,
 9,
 10,
 10,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 9,
 7,
 8,
 12,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 5,
 5,
 5,
 6,
 6,
 6,
 12,
 12,
 12,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 7,
 8,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 6,
 9,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 4,
 9,
 9,
 3,
 3,
 9,
 11,
 1,
 1,
 1,
 1,
 7,
 1,
 1,
 3,
 10,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 7,
 8,
 10,
 10,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 5,
 7,
 7,
 10,
 10,
 12,
 12,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 3,
 8,
 10,
 10,
 11,
 12,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 8,
 9,
 9,
 12,
 12,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 10,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 3,
 7,
 8,
 8,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 11,
 9,
 9,
 9,
 9,
 5,
 5,
 6,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 8,
 8,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 6,
 6,
 8,
 8,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 4,
 4,
 5,
 8,
 10,
 11,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 7,
 7,
 8,
 8,
 8,
 9,
 9,
 12,
 12,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 12,
 12,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 4,
 5,
 6,
 9,
 10,
 10,
 10,
 11,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [184]:
len(list_months)

700

In [185]:
df_reason_mod['Month Value']=list_months
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the Week
0,0.0,0.0,0.0,0.0,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0.0,0.0,0.0,0.0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0.0,0.0,0.0,0.0,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1.0,0.0,0.0,0.0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0.0,0.0,0.0,1.0,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

## Extract the Date of the Week:

In [186]:
df_reason_mod['Date'][699].weekday()

3

In [187]:
df_reason_mod['Date'][699]

Timestamp('2018-05-31 00:00:00')

In [188]:
def date_to_weekday (date_value):
    return date_value.weekday()

In [189]:
df_reason_mod ['Date of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [190]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the Week
0,0.0,0.0,0.0,0.0,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0.0,0.0,0.0,0.0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0.0,0.0,0.0,0.0,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1.0,0.0,0.0,0.0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0.0,0.0,0.0,1.0,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

### Transportation Expense, Distance to Work, Age, Daily Work Load Average, Body Mass Index

In [191]:
type(df_reason_mod['Transportation Expense'][0])

numpy.int64

In [192]:
type(df_reason_mod['Distance to Work'][0])

numpy.int64

In [193]:
type(df_reason_mod['Age'][0])

numpy.int64

In [194]:
type(df_reason_mod['Daily Work Load Average'][0])

numpy.float64

In [195]:
type(df_reason_mod['Body Mass Index'][0])

numpy.int64

## Education, Children, Pets

In [196]:
df_reason_mod['Education'].unique()

array([0, 1], dtype=int64)

In [197]:
df_reason_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [198]:
df_reason_mod['Education'] = df_reason_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [199]:
df_reason_mod['Education'].unique()

array([nan,  0.])

In [200]:
df_reason_mod['Education'].value_counts()

0.0    117
Name: Education, dtype: int64

## Final Chekpoint

In [201]:
df_preprocessed = df_reason_mod.copy()
df_preprocessed.head(5)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the Week
0,0.0,0.0,0.0,0.0,2015-07-07,289,36,33,239.554,30,NaN,2,1,4,7,1
1,0.0,0.0,0.0,0.0,2015-07-14,118,13,50,239.554,31,NaN,1,0,0,7,1
2,0.0,0.0,0.0,0.0,2015-07-15,179,51,38,239.554,31,NaN,0,0,2,7,2
3,1.0,0.0,0.0,0.0,2015-07-16,279,5,39,239.554,24,NaN,2,0,4,7,3
4,0.0,0.0,0.0,1.0,2015-07-23,289,36,33,239.554,30,NaN,2,1,2,7,3

In [203]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)
df_preprocessed

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the Week
0,0.0,0.0,0.0,0.0,2015-07-07,289,36,33,239.554,30,NaN,2,1,4,7,1
1,0.0,0.0,0.0,0.0,2015-07-14,118,13,50,239.554,31,NaN,1,0,0,7,1
2,0.0,0.0,0.0,0.0,2015-07-15,179,51,38,239.554,31,NaN,0,0,2,7,2
3,1.0,0.0,0.0,0.0,2015-07-16,279,5,39,239.554,24,NaN,2,0,4,7,3
4,0.0,0.0,0.0,1.0,2015-07-23,289,36,33,239.554,30,NaN,2,1,2,7,3
5,0.0,0.0,1.0,0.0,2015-10-07,179,51,38,239.554,31,NaN,0,0,2,10,2
6,1.0,0.0,0.0,0.0,2015-07-17,361,52,28,239.554,27,NaN,1,4,8,7,4
7,1.0,0.0,0.0,0.0,2015-07-24,260,50,36,239.554,23,NaN,4,0,4,7,4
8,1.0,0.0,0.0,0.0,2015-06-07,155,12,34,239.554,25,NaN,2,0,40,6,6
9,0.0,0.0,1.0,0.0,2015-07-13,235,11,37,239.554,29,0.0,1,1,8,7,0
10,1.0,0.0,0.0,0.0,2015-07-20,260,50,36,239.554,23,NaN,4,0,8,7,0
11,1.0,0.0,0.0,0.0,2015-07-14,260,50,36,239.554,23,NaN,4,0,8,7,1
12,0.0,0.0,0.0,0.0,2015-07-15,260,50,36,239.554,23,NaN,4,0,8,7,2
13,0.0,0.0,1.0,0.0,2015-07-15,179,51,38,239.554,31,NaN,0,0,1,7,2
14,0.0,0.0,0.0,0.0,2015-07-15,179,51,38,239.554,31,NaN,0,0,4,7,2
15,0.0,0.0,0.0,0.0,2015-07-17,246,25,41,239.554,23,NaN,0,0,8,7,4
16,1.0,0.0,0.0,0.0,2015-07-17,179,51,38,239.554,31,NaN,0,0,2,7,4
17,0.0,0.0,0.0,0.0,2015-07-27,179,51,38,239.554,31,NaN,0,0,8,7,0
18,0.0,1.0,0.0,0.0,2015-07-30,189,29,33,239.554,25,NaN,2,2,8,7,3
19,1.0,0.0,0.0,0.0,2015-05-08,248,25,47,205.917,32,NaN,2,1,2,5,4
20,1.0,0.0,0.0,0.0,2015-12-08,330,16,28,205.917,25,0.0,0,0,8,12,1
21,1.0,0.0,0.0,0.0,2015-03-08,179,51,38,205.917,31,NaN,0,0,1,3,6
22,1.0,0.0,0.0,0.0,2015-10-08,361,52,28,205.917,27,NaN,1,4,40,10,3
23,0.0,1.0,0.0,0.0,2015-08-14,260,50,36,205.917,23,NaN,4,0,4,8,4
24,1.0,0.0,0.0,0.0,2015-08-17,289,36,33,205.917,30,NaN,2,1,8,8,0
25,1.0,0.0,0.0,0.0,2015-08-24,361,52,28,205.917,27,NaN,1,4,7,8,0
26,1.0,0.0,0.0,0.0,2015-04-08,289,36,33,205.917,30,NaN,2,1,1,4,2
27,0.0,1.0,0.0,0.0,2015-12-08,157,27,29,205.917,22,NaN,0,0,4,12,1
28,NaN,NaN,NaN,NaN,2015-08-19,289,36,33,205.917,30,NaN,2,1,8,8,2
29,NaN,NaN,NaN,NaN,2015-08-28,179,51,38,205.917,31,NaN,0,0,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,NaN,NaN,NaN,NaN,2018-04-24,155,12,34,246.288,25,NaN,2,0,4,4,1
671,NaN,NaN,NaN,NaN,2018-04-26,225,26,28,246.288,24,NaN,1,2,8,4,3
672,NaN,NaN,NaN,NaN,2018-04-26,118,13,50,246.288,31,NaN,1,0,2,4,3
673,NaN,NaN,NaN,NaN,2018-04-27,179,26,30,246.288,19,0.0,0,0,2,4,4
674,NaN,NaN,NaN,NaN,2018-07-05,235,11,37,237.656,29,0.0,1,1,8,7,3
675,NaN,NaN,NaN,NaN,2018-09-05,225,15,41,237.656,28,0.0,2,2,3,9,2
676,NaN,NaN,NaN,NaN,2018-09-05,235,16,32,237.656,25,0.0,0,0,2,9,2
677,NaN,NaN,NaN,NaN,2018-09-05,118,10,37,237.656,28,NaN,0,0,3,9,2
678,NaN,NaN,NaN,NaN,2018-09-05,235,20,43,237.656,38,NaN,1,0,8,9,2
679,NaN,NaN,NaN,NaN,2018-10-05,179,26,30,237.656,19,0.0,0,0,1,10,4
680,NaN,NaN,NaN,NaN,2018-10-05,291,31,40,237.656,25,NaN,1,1,2,10,4
681,NaN,NaN,NaN,NaN,2018-10-05,225,15,41,237.656,28,0.0,2,2,8,10,4
682,NaN,NaN,NaN,NaN,2018-11-05,300,26,43,237.656,25,NaN,2,1,64,11,0
683,NaN,NaN,NaN,NaN,2018-11-05,225,15,41,237.656,28,0.0,2,2,8,11,0
684,NaN,NaN,NaN,NaN,2018-11-05,179,26,30,237.656,19,0.0,0,0,2,11,0
685,NaN,NaN,NaN,NaN,2018-05-14,118,13,50,237.656,31,NaN,1,0,2,5,0
686,NaN,NaN,NaN,NaN,2018-05-15,118,13,50,237.656,31,NaN,1,0,3,5,1
687,NaN,NaN,NaN,NaN,2018-05-15,118,10,37,237.656,28,NaN,0,0,1,5,1
688,NaN,NaN,NaN,NaN,2018-05-15,118,13,50,237.656,31,NaN,1,0,0,5,1
689,NaN,NaN,NaN,NaN,2018-05-16,179,26,30,237.656,19,0.0,0,0,2,5,2
690,NaN,NaN,NaN,NaN,2018-05-16,378,49,36,237.656,21,NaN,2,4,0,5,2
691,NaN,NaN,NaN,NaN,2018-05-18,179,22,40,237.656,22,0.0,2,0,1,5,4
692,NaN,NaN,NaN,NaN,2018-05-21,155,12,34,237.656,25,NaN,2,0,48,5,0
693,NaN,NaN,NaN,NaN,2018-05-21,235,16,32,237.656,25,0.0,0,0,8,5,0
694,NaN,NaN,NaN,NaN,2018-05-23,291,31,40,237.656,25,NaN,1,1,8,5,2
695,NaN,NaN,NaN,NaN,2018-05-23,179,22,40,237.656,22,0.0,2,0,8,5,2
696,NaN,NaN,NaN,NaN,2018-05-23,225,26,28,237.656,24,NaN,1,2,3,5,2
697,NaN,NaN,NaN,NaN,2018-05-24,330,16,28,237.656,25,0.0,0,0,8,5,3
698,NaN,NaN,NaN,NaN,2018-05-24,235,16,32,237.656,25,0.0,0,0,2,5,3
699,NaN,NaN,NaN,NaN,2018-05-31,291,31,40,237.656,25,NaN,1,1,2,5,3